<!-- jQuery Version 1.11.0 -->
<script src="{{ '/js/jquery-1.11.0.js' | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/js/jquery.easing.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/classie.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/cbpAnimatedHeader.js' | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/agency.js' | prepend: site.baseurl }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70752365-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-70752365-4');
</script>



