 <!-- Portfolio Modals -->
 {% for item in site.products %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ item.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ item.title }}</h2>
                            <hr class="star-primary">
                            {% if item.img %}
                                <img src="img/project/{{ item.img }}" class="img-responsive img-centered" alt="{{ item.alt }}">
                            {% else %}
                                <img src="https://via.placeholder.com/250}" class="img-responsive img-centered" alt="">
                            {% endif %}
                            
                            {% if item.vid %}
                            <video src="vid/{{item.vid}}" class="img-responsive img-centered" type="video/mp4" controls> </video>
                            {% endif %}
                            <br>
                            <p >{{ item.description }}</p>
                            <p class="indent">{{ item.p2 }}</p>
                            <!-- <ul class="list-inline item-details">
                                <li>Used:
                                    <strong>{{ item.client }}
                                    </strong>
                                </li>
                                <li>Learned:
                                    <strong>{{ item.category }}
                                    </strong>
                                </li> 
                                <li>Project Status:
                                    <strong>{{ item.project-date }}
                                    </strong>
                                </li>
                            </ul> -->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
