---
layout: default
---

<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                {% if item.img %}
                    <img src="img/projects/{{ page.img }}" class="img-responsive" alt="{{ page.alt }}">
                {% else %}
                    <img src="https://via.placeholder.com/250" class="img-responsive" alt="">
                {% endif %}
            </div>
            <div class="col-4">
                <h2>{{ page.title }}</h2>
                <hr>

                <p>{{ page.description }}</p>
                <button class="btn">Add to cart</button>

                <hr>
                <ul class="list-inline">
                    <li> Category:
                        <strong>{{ page.category }}</strong>
                    </li>
                    <li> Product Status:
                        <strong>{{ page.status }}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>
</div>
